.articles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;

    >ul{
        display: flex;
        flex-direction: column;
        gap: 1em;

        >li{
            display: flex;
            flex-direction: column;
            gap: 0.6em;
        }
        
    }
}