.projects{
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2em;
}

.projects > ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5em;
    list-style: none;

    >li{
        display: flex;
        flex-direction: column;
        gap: 1em;

        >ul{
            margin-left: 1em;
        }

    }

}

@media screen and (max-width: 600px) {
    .projects{
        padding: 0; 
    }

    .projects > ul{
        display: flex;
        flex-direction: column;
        gap: 2em;
    }
    
}