*{
    margin: 0;
    padding: 0;
    outline: none;
    border: 0;
}
body{
   display: flex;
   justify-content: center;
}

.changelog-container{
    text-align: center;
    margin-top: 2em;
    padding: 4em;
    border: 1px solid #333;
    border-radius: 1em;
    

    h1{
        margin-bottom: 0.5em;
    }
    p{
        color: #888;
    }
    
}
.log{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1em 0 0 4em;
}

.log::before{
    content: '';
    width: 2px;
    height: 100%;
    background-color: #333;
    position: absolute;
    left: -22px;
    top: 10px;
}

.log-items{
    text-align: left;

}

.date{
    font-size: 14px;
    color: #666;
}
.log-text{
    font-weight: 600;
}

li::marker{
    font-size: 2em;
}

button{
    margin-top: 4em;
    width: 60%;
    height: 2em;
    background-color: #333;
    color: #fff;
    border-radius: 1em;
}

